name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag rob93c/christmas-greeter:latest

    - uses: actions/checkout@v2
    - name: Perform Docker login
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - uses: actions/checkout@v2
    - name: Upload the latest Docker image
      run: docker push rob93c/christmas-greeter:latest
